body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container {
	position:relative;
}

#holder {
	position: absolute;
	left:-5px;
	top:0;
}